<!-- <!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ro" lang="ro"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><title>Microsoft Word - contract_de_adoptie_non_PH</title><meta name="author" content="Ali"/><style type="text/css"> * {margin:0; padding:0; text-indent:0; }
 h1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 18pt; }
 p { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin:0pt; }
 .s1 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
 h2 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 li {display: block; }
 #l1 {padding-left: 0pt; }
 #l1> li>*:first-child:before {content: "□ "; color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 #l2 {padding-left: 0pt; }
 #l2> li>*:first-child:before {content: " "; color: black; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
</style>
</head>
<body>
    <h1 style="text-indent: 0pt;line-height: 22pt;text-align: center;">PET ADOPTION CONTRACT</h1>
    <p style="padding-top: 3pt;text-indent: 0pt;text-align: center;"><b>Date</b>  {{date}}   <span class="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </p>
    <p style="text-indent: 0pt;text-align: left;"><br/>
    </p>
    <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">ADOPTER</h2>
    <p style="text-indent: 0pt;text-align: left;"></p>
    <p style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">Name of adopter: {{firstname}} {{lastname}}<span class="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
    <p style="text-indent: 0pt;text-align: left;"></p><p style="text-indent: 0pt;text-align: left;"></p>
    <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Phone of Adopter {{phone}}</p>
    <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Email of Adopter  {{email}}</p>
    <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Address of Adopter {{address}}</p>
    <p style="text-indent: 0pt;text-align: left;"><br/>
    </p>
    <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">OWNER</h2>
    <p style="text-indent: 0pt;text-align: left;"></p>
    <p style="padding-top: 2pt;text-indent: 0pt;padding-left: 20pt;text-align: left;">Name {{orgName}}</p>
    <p style="text-indent: 0pt;text-align: left;"></p><p style="text-indent: 0pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"></p><p style="text-indent: 0pt;text-align: left;"></p>
        <p style="padding-top: 2pt;padding-left: 20pt;line-height: 115%;text-align: left;">Address  {{orgAddress}}</p>
        <p style="padding-top: 2pt;padding-left: 20pt;line-height: 115%;text-align: left;">Phone {{orgPhone}}</p>
        <p style="padding-top: 2pt;padding-left: 20pt;line-height: 115%;text-align: left;">Email {{orgEmail}}</p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <p style="padding-top: 4pt;padding-left: 20pt;text-indent: 0pt;text-align: left;">Adopter will take care of {{numeAnimal}}<span class="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>.</p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">ANIMAL INFORMATION</h2>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Type {{tipAnimal}}</p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Sex {{sexAnimal}}</p>
        <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Age {{varstaAnimal}}</p>
        <p style="text-indent: 0pt;text-align: left;"></p>
        <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 115%;text-align: left;">Vaccinated {{animalVacinat}}</p>
        <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 15pt;text-align: left;">Sterilised {{animalSterilizat}}</p>
        <p style="padding-top: 2pt;padding-left: 20pt;text-indent: 0pt;line-height: 15pt;text-align: left;">Special treatment {{tratamentSpecial}}</p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <p style="padding-left: 6pt;text-indent: 0pt;line-height: 1pt;text-align: left;"></p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <p style="padding-left: 6pt;text-indent: 0pt;line-height: 1pt;text-align: left;"></p>
        <ul id="l1">
                <p style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Observations: {{descriereAnimal}}<span class="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"></p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h2 style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;line-height: 115%;text-align: left;">TERMS OF THIS AGREEMENT</h2>
                <ul id="l2">
                    <li data-list-text="">
                        <p style="padding-left: 42pt;text-indent: -18pt;text-align: justify;">The Adopter agrees to keep and take good care of Archie in the most possible safe and humane manner, and shall treat as a
                            family pet and companion</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-top: 2pt;padding-left: 41pt;text-indent: -18pt;text-align: justify;">The Adopter understands that pets require to have appropriate food, water, shelter and medical care for the duration of its life
                            and shall ensure they are properly taken cared of and will nourish them to the best of their allowed capacity.</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 41pt;text-indent: -18pt;text-align: justify;">The Adopter understands his/her responsibility to become familiar with the local or state laws relating to licensing and animal
                            welfare and shall abide by them.</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 41pt;text-indent: -18pt;text-align: justify;">In case of incapacity to continue to care for Archie, it shall be the responsibility of the Adopter to inform the previous owner or
                            the animal shelter for such incapacity, and by which the former owner or the shelter shall have the right to exercise their retained
                            Right of First Refusal in the opportunity to reclaim Archie.</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 42pt;text-indent: -18pt;text-align: justify;">The parties understand that there are no guarantees or warranties with regard to the behavior, health or temperament of Archie.</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 41pt;text-indent: -18pt;text-align: justify;">Any damages or injuries caused by the actions of Archie shall be borne by the Adopter.</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 41pt;text-indent: -18pt;text-align: justify;">The parties declare that they enter into this contract voluntarily, without any hesitation or have not been induced or coerced</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 42pt;text-indent: -18pt;text-align: justify;">In the event there is a violation of the agreement, the former owner or the shelter shall have the right to sue pertaining violations
                            found in the local or state laws. In addition, the former owner or the shelter shall have the right to sue for damages from the
                            breach of this agreement.S</p></li>
                    <li data-list-text="">
                        <p style="padding-left: 42pt;text-indent: -18pt;text-align: justify;">Should any of the provisions of this Agreement be held invalid, such invalidity shall apply only to the said invalid provision and the
                            remaining provisions shall continue to remain valid and enforceable</p>
                    </li>
                    <li data-list-text="">
                        <p style="padding-left: 42pt;text-indent: -18pt;text-align: justify;">No modification or alteration to any part of this contract shall be considered as having been made unless executed in writing and
                            duly signed by the parties.</p>
                    </li>
                </ul>
        </ul>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <div style="display: inline-block;">
        <h2 style="padding-left: 41pt;text-indent: 0pt;float: left;">Adopter's signature</h2>
        <h2 style="padding-left: 215pt;text-indent: 0pt;float: right;">Owner's signature</h2>
    </div>
    </body>
    </html> -->
