.banner {
    background-color: #deebff;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}

.banner-title {
    font-size: xx-large;
    padding-top: 3rem;
    vertical-align: top;
    text-align: center;
    padding-right: 0.5rem;
}

.container {
    align-items: center;
    vertical-align: top;
    text-align: center;
}

.elements {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem;
    padding-right: 3rem;
    font-size: small;
}

.edit-container {
    padding-top: 1rem;
}

table {
    margin-top: 1.5rem;
    vertical-align: middle;
}

.nameHeader {
    text-align: left;
}

.contentBody {
    text-align: left;
    margin-left: 0.25rem;
}

.addbutton {
    margin-top: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}