<app-navbar></app-navbar>
 <div class="container justify-content-center">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
        <div class="wrap text-center">
          <div class="search form-group">
             <input type="text" [(ngModel)]="filterTerm" class="form-control" placeholder="What are you looking for?">
             <button type="submit" class="searchButton">
               <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
        <div class="row justify-content-center row-cols-1 row-cols-md-4">
            <div *ngFor="let food of foodProducts let i = index" class="col" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
                <div class="card h-100">
                    <img
                    src="/assets/images/org-picture.jpg"
                    class="card-img-top"
                    alt="..."
                    />
                    <div class="card-body">
                        <h2 class="card-title">{{food.name}}</h2>
                        <div>
                          <p class="card-text card-description" *ngIf="food.description != null">
                            {{food.description}}
                          </p>
                        </div>
                        <div>
                          <p class="card-text card-description" *ngIf="food.description != null">
                            {{food.instructions}}
                        </p>
                        </div>
                        <p class="card-text" *ngIf="food.description == null">
                            -
                        </p>
                    </div>

                    <br>

                    <div class="card-footer justify-content-center">
                        <button type="button btn-sm" style="font-size: small;" class="btn btn-info" (click)="goToFoodDetails(food.id.toString())">Info</button>
                    </div>
                </div>
            </div>

          </div>
      </div>
  <footer class="page-footer font-large cyan darken-3" style="padding-left: 120px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-4">
          <div class="mb-2 flex-center">
            <a class="fb-ic" (click)="goToFacebook()">
              <i class="fab fa-facebook-f white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a class="tw-ic" (click)="goToTwitter()">
              <i class="fab fa-twitter white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a class="ins-ic" (click)="goToInstagram()">
              <i class="fab fa-instagram white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
