<app-navbar></app-navbar>

<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Product no.</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td><img src="{{item.image_url}}" style="width: 60%;"></td>
                        <td style="width: 25%;">{{item.description}}</td>
                        <td style="width: 12%;">{{item.price}}</td>
                        <td style="width: 12%;">{{item.quantity}}</td>
                        <td>
                            <button class="btn" style="background-color: black; color: white;" (click)="removeItem(item)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button class="btn" style="background-color: black; color: white;" (click)="emptyCart()">Empty cart</button></td>
                        <td><button class="btn" style="background-color: #9999ff; color: white; white-space: nowrap; text-align: center;" routerLink="/home">Home page</button></td>
                        <td><button class="btn" style="background-color: #00b3b3; color: white;">Checkout</button></td>
                        <td><strong>Grand Total: ${{grandTotal}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title" style="font-size:  30px;"><b>My Shopping Cart</b></h5>
        </div>
        <div class="center">
            <img src="https://assets.materialup.com/uploads/16e7d0ed-140b-4f86-9b7e-d9d1c04edb2b/preview.png">
            <h3><b>Your cart is empty!</b></h3>
            <h4><b>Add item to it</b></h4>
        </div>
    </div>
</ng-container>