<app-navbar></app-navbar>

<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Product no.</th>
                        <th>Product name</th>
                        <th>Product description</th>
                        <th>Product price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <th style="width: 25%;">{{item.description}}</th>
                        <th style="width: 12%;">{{item.price}}</th>
                        <th style="width: 12%;">{{item.quantity}}</th>
                        <th style="width: 12%;">{{item.total}}</th>
                        <td>
                            <button class="btn btn-danger" (click)="removeItem(item)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button class="btn btn-danger" (click)="emptyCart()">Empty cart</button></td>
                        <td><button class="btn btn-primary" routerLink="/home">Home page</button></td>
                        <td><button class="btn btn-success">Checkout</button></td>
                        <td><strong>Grand Total: {{grandTotal}} lei</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title" style="font-size:  30px;"><b>My Shopping Cart</b></h5>
        </div>
        <div class="center">
            <img src="https://assets.materialup.com/uploads/16e7d0ed-140b-4f86-9b7e-d9d1c04edb2b/preview.png">
            <h3><b>Your cart is empty!</b></h3>
            <h4><b>Add item to it</b></h4>
        </div>
    </div>
</ng-container>