<app-navbar></app-navbar>
<div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br>
        <div class="row justify-content-center" style="padding-left: 1rem; text-align: center;">
          <br>
          <h1 style="padding-top: 1rem; font-family: 'Arial', sans-serif; color: #00B4CC; font-size: 1.8rem; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Latest products added</h1>
        </div>
        <div class="row justify-content-center">
          <div *ngFor="let product of recentProducts" class="card" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
            <div class="card h-100 product-card">
              <img src="{{product.image_url}}" class="card-img-top product-card-img" alt="...">
              <div class="card-body">
                <h2 class="card-title product-card-title">{{ product.description }}</h2>
                <p class="card-text" *ngIf="product.description == null">-</p>
                <div class="product-card-property">
                  <p class="product-card-price"> Price: ${{ product.price }}</p>
                  <p class="product-card-category">Category: {{ product.category }}</p>
                  <p class="product-card-instructions">Instructions: {{ product.instructions }}</p>
                  <p class="product-card-animal">Animal: {{ product.animal }}</p>
                </div>
              </div>
              <div class="card-footer justify-content-center product-card-footer">
                <button type="button" class="btn btn-info btn-sm" (click)="goToProductDetails(product.id.toString(), product.product_type)">Info</button>
              </div>
            </div>
          </div>
      </div>
      </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br>
        <div class="row justify-content-center" style="padding-left: 1rem; text-align: center;">
          <br>
          <h1 style="padding-top: 1rem; font-family: 'Arial', sans-serif; color: #00B4CC; font-size: 1.8rem; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Top rated products</h1>
        </div>
        <div class="row justify-content-center">
          <div *ngFor="let product of topRatedProducts" class="card" style="width: 18rem; margin-right: 1rem; margin-bottom: 1rem;">
            <div class="card h-100 product-card">
              <img src="{{product.image_url}}" class="card-img-top product-card-img" alt="...">
              <div class="card-body">
                <h2 class="card-title product-card-title">{{ product.description }}</h2>
                <p class="card-text" *ngIf="product.description == null">-</p>
                <div class="product-card-property">
                  <p class="product-card-price"> Price: ${{ product.price }}</p>
                  <p class="product-card-category">Category: {{ product.category }}</p>
                  <p class="product-card-instructions">Instructions: {{ product.instructions }}</p>
                  <p class="product-card-animal">Animal: {{ product.animal }}</p>
                </div>
              </div>
              <div class="card-footer justify-content-center product-card-footer">
                <button type="button" class="btn btn-info btn-sm" (click)="goToProductDetails(product.id.toString(), product.product_type)">Info</button>
              </div>
            </div>
          </div>
      </div>
      </div>
    <div class="col-md-1"></div>

  </div>

</div>
